@import "tailwindcss";

@font-face {
    font-family: 'exo-2-font';
    src: url("./fonts/Exo2-Regular.ttf");
}

@font-face {
    font-family: 'roboto-mono-font';
    src: url("./fonts/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'poppins-font';
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'rubik-font';
    src: url("./fonts/Rubik-Regular.ttf");
}

html, body {
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* استاندارد */
}

:root {
    --mask-process: 100%;
    --mask-color: oklch(68.5% 0.169 237.323);
}

@keyframes shake-horizontal {
    0%, 100% {
        transform: translateX(0)
    }
    10%, 30%, 50%, 70% {
        transform: translateX(-3px)
    }
    20%, 40%, 60% {
        transform: translateX(3px)
    }
    80% {
        transform: translateX(2px)
    }
    90% {
        transform: translateX(-2px)
    }
}

@keyframes bounce-in-right {
    0% {
        transform: translateX(300px);
        animation-timing-function: ease-in;
        opacity: 0
    }
    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1
    }
    55% {
        transform: translateX(34px);
        animation-timing-function: ease-in
    }
    72% {
        transform: translateX(0);
        animation-timing-function: ease-out
    }
    81% {
        transform: translateX(16px);
        animation-timing-function: ease-in
    }
    90% {
        transform: translateX(0);
        animation-timing-function: ease-out
    }
    95% {
        transform: translateX(4px);
        animation-timing-function: ease-in
    }
    100% {
        transform: translateX(0);
        animation-timing-function: ease-out
    }
}

@keyframes slide-out-blurred-right {
    0% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: translateX(150px) scaleX(2) scaleY(0.2);
        transform-origin: 0 50%;
        filter: blur(40px);
        opacity: 0;
    }
}


@layer components {

    /* Remove Up Down Btn in input type number */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* For: FireFox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    /* Fonts */
    .font-roboto-mono {
        font-family: 'roboto-mono-font', serif;
    }

    .font-rubik {
        font-family: 'rubik-font', serif;
    }

    .font-poppins {
        font-family: 'poppins-font', serif;
    }

    .font-exo-2 {
        font-family: 'exo-2-font', serif;
    }

    /* Show App / Close App */
    .app-popup {
        @apply translate-y-20 invisible opacity-0
    }

    /* Hide ScrollBar */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Costume ScrollBar */
    .costume-scrollbar::-webkit-scrollbar {
        @apply w-2.5 h-2.5
    }

    .costume-scrollbar::-webkit-scrollbar-track {
        @apply rounded-xl bg-black/20
    }

    .costume-scrollbar::-webkit-scrollbar-thumb {
        @apply rounded-xl bg-sky-500 cursor-pointer
    }

    /* Delete Timezone */
    .delete-timezone-animate {
        @apply scale-y-0
    }

    /* Hide Modal */
    .hide-modal {
        @apply scale-x-0 invisible opacity-0
    }

    /* Hide Btn */
    .hide-btn {
        @apply opacity-0 invisible scale-0
    }

    /* Active Btn */
    .btn-active {
        @apply rounded-full absolute transition duration-150 inset-0 transform scale-0 group-active:scale-100 bg-sky-400 -z-10;
    }

    /* Animations */
    .animate-shake {
        animation: shake-horizontal 0.7s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1 both;
    }

    .animate-bounce-in {
        animation: bounce-in-right 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1 both;
    }

    .animate-blurred-out {
        animation: slide-out-blurred-right 0.40s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1 both;
    }

    /* Start Btn Activated */
    .start-btn-active {
        @apply text-sky-500 cursor-pointer active:bg-transparent active:text-white
    }

    /* Start Btn De-Activated */
    .start-btn-not-active {
        @apply text-gray-500 cursor-not-allowed
    }

    .wheel-shadow {
        box-shadow: inset 0 25px 50px -15px var(--mask-color);
    }


}